@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* .App {
  text-align: center;
} */
.react-tel-input .form-control{
  @apply !w-full py-6 !text-base;
  text-align: left !important;
}
@media (max-width: 991.98px){
  .col-sm{
    flex: none;
  }
  .login{
    padding: 30px;
  }
}

.App-header {
  background-color: #036b54;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text-white{
  font-size: 2rem;
  color: white;
  text-align: center;
}

.font-bold{
  margin-left: 30%;
  font-size: 1rem;
  color: white;
  text-align: center;
}


.Spinner {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.BtnContainer {
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.Btn {
  background-color: #059669;
  color: #fff;
  width: 100%;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 0.625rem 1rem;
  transition: all 0.2s ease-in-out;
  margin-left: 0.5rem;
  margin-top: 1.5rem;
}

.Btn:hover {
  background-color: #047857;
}

.lock {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  background-color: #ffffff;
  border-radius: 50%;
  margin-bottom: 1rem;
  margin-top: 3rem;
  margin-left: 40%;
}

.lock svg {
  color: #059669;
  font-size: 1rem;
}